.container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid black;
}

.row {
  display: flex;
  height: 40px;
}

.col {
  height: 40px;
  width: 40px;
  font-size: 20px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
